---

- name: Get template 
  vmware.vmware_rest.vcenter_vm_info:
    filter_names:
    - "{{ vm_template }}"
  register: vm_info
  delegate_to: localhost

- name: Get cluster info
  vmware.vmware_rest.vcenter_cluster_info:
    filter_names:
    - "{{ vm_cluster }}"
  register: cluster_info
  delegate_to: localhost

- name: Get Resource info for {{ vm_cluster }}
  vmware.vmware_rest.vcenter_cluster_info:
    cluster: "{{ cluster_info.value[0].cluster }}"
  register: resource_pool_info
  delegate_to: localhost

- name: Get datastore info
  vmware.vmware_rest.vcenter_datastore_info:
    filter_names:
    - "{{ vm_datastore }}"
  register: datastore_info
  delegate_to: localhost

- name: Get folder info
  vmware.vmware_rest.vcenter_folder_info:
    filter_names:
    - '{{ vm_folder }}'
  register: folder_info
  delegate_to: localhost

- name: Set facts
  set_fact:
    source_vm_id: "{{ vm_info.value[0].vm }}"
    cluster_id: '{{ cluster_info.value[0].cluster }}'
    datastore_id: '{{ datastore_info.value[0].datastore }}'
    folder_id: '{{ folder_info.value[0].folder }}'

- name: Clone from template
  vmware.vmware_rest.vcenter_vm:
    placement:
      cluster: "{{ cluster_id }}"
      datastore: "{{ datastore_id }}"
      folder: "{{ folder_id }}"
    name: "{{ vm_name }}"
    guest_OS: "RHEL_8_64"
    cpu:
      hot_add_enabled: true
      count: "{{ vm_cpu }}"
    memory:
      hot_add_enabled: true
      size_MiB: "{{ vm_ram }}"
    source: "{{ source_vm_id }}"
    state: clone
    power_on: no
  delegate_to: localhost

- name: Sleep for 10 seconds and continue with play
  wait_for:
    timeout: 10
  delegate_to: localhost

- name: Get VM instance details
  vmware.vmware_rest.vcenter_vm_info:
    filter_names:
    - "{{ vm_name }}"
  register: vm_info_new
  delegate_to: localhost

- name: Start the VM
  vmware.vmware_rest.vcenter_vm_power:
    state: start
    vm: "{{ vm_info_new.value[0].vm }}"
  delegate_to: localhost

- name: Sleep for 30 seconds and continue with play
  wait_for:
    timeout: 30
  delegate_to: localhost
